{% extends "layout.html" %}

{% block jumbotron %}{% endblock %}

{% block content %}
<div class="container">
	<h1>What is Publinks?</h1>
	<p>Publinks is a social news platform geared toward sharing
		content related to the publishing industry and emerging trends and technology.  Anything that a publishing professional or technologist would find interesting is fair game.</p>
	<p>Publinks was created as a first project by <a href="http://www.twitter.com/alenarg">@alenarg</a> with extensive help by <a href="http://www.twitter.com/datakyle">@datakyle</a>.</p>
</div>
{% endblock %}